<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvimagenes</servlet-name>
        <servlet-class>servlets.srvimagenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvlogin</servlet-name>
        <servlet-class>servlets.srvlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvmenu</servlet-name>
        <servlet-class>servlets.srvmenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvsalir</servlet-name>
        <servlet-class>servlets.srvsalir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvimagenes</servlet-name>
        <url-pattern>/srvimagenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvlogin</servlet-name>
        <url-pattern>/srvlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvmenu</servlet-name>
        <url-pattern>/srvmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvsalir</servlet-name>
        <url-pattern>/srvsalir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
